.activityform-title {
    color: black;
}

.activityform-content {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #fefefe;
    padding: 20px;
    width: 70%;
    height: 90%;
    border-radius: 5px;
    transform: translate(0, 0);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 97;
    overflow-y: auto;
}

.button-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.activity-type-button {
    flex: 1;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    text-transform: capitalize;
}

.activity-type-button.selected {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}

.activityform-button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.activityform-button:hover {
    background-color: #0056b3;
}