.work-content-container {
    display: flex;
    height: 100%;
}

.activity-details-container {
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
}

.work-card {
    border-radius: 8px;
    margin: 20px 0px 20px 0px;
    box-sizing: border-box;
    padding: 0px 20px 20px 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    width: 100%;
}

.container {
    display: flex;
    align-items: stretch;
}

.column {
    padding: 10px;
    box-sizing: border-box;
}

.work-label {
    font-size: 16px;
    font-weight: normal;
    color: grey;
    margin-bottom: 5px;
}

.line {
    border: none;
    height: 1px;
    width: 100%;
    background-color: #ccc;
    margin-bottom: 10px;
}

.activity-table {
    width: 100%;
    border-collapse: collapse;
}

.activity-table th,
.activity-table td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
}

.activity-table th {
    background-color: #f2f2f2;
}

.activity-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.activity-table tbody tr:hover {
    background-color: #ddd;
}


.attachments-activity-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 50px;
}

.attachments-section,
.activity-section {
    flex: 1;
}

.description-section {
    margin-top: 20px;
}

.description-textarea {
    padding: 10px;
    margin-top: 10px;
    resize: vertical;
    width: 96%;
}

.file-upload-container {
    border: 2px dashed rgba(144, 21, 21, 1);
    background-color: rgba(144, 21, 21, 0.1);
    padding: 20px;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#file-input {
    display: none;
}

label {
    cursor: pointer;
}

.uploaded-files {
    margin-top: 10px;
}

.uploaded-files ul {
    list-style: none;
    padding: 0;
}

.uploaded-files li {
    margin-bottom: 5px;
}

.uploaded-files li a {
    text-decoration: none;
    color: #007bff;
}

.activity-tabs {
    display: flex;
    border-bottom: 2px solid #ccc;
}

.tab {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}

.tab:hover {
    background-color: #f0f0f0;
    /* Greyed hover effect */
}

/* Styles for medium-sized screens */
@media (max-width: 768px) {
    .statusmenu {
        display: none;
    }

    .item-details-container {
        width: 100%;
        margin: 0 auto;
    }

    .spec-row-0,
    .spec-row-1,
    .spec-row-2 {
        flex: 0 0 calc(100% - 20px);
        margin-right: 0;
    }

    .spec-item {
        flex: 0 0 calc(100% - 20px);
        margin-right: 0;
    }
}

/* Styles for smaller screens */
@media (max-width: 480px) {
    .statusmenu {
        display: none;
    }

    .item-details-container {
        width: 100%;
        margin: 0 auto;
    }
}