.assets-cards-container {
    width: 100%;
    top: 100px;
}

.work-cards {
    flex-grow: 1;
    display: flex;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    margin-bottom: 10px;
}

.hardware-icon {
    width: 5%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333333;
    padding: 20px;
}

.first-column {
    margin-left: 20px;
    ;
    width: 85%;
    padding: 5px;
    overflow: hidden;
    color: #333333;
}

.cwm-label {
    font-size: 10px;
    color: #adb5bd;
}

.second-column {
    width: 15%;
    padding: 5px;
    font-size: 12px;
    color: #333333;
}

.software {
    color: #007bff;
    height: 60%;
    width: 60%;
}

.hardware {
    color: #f0ad4e;
    height: 40%;
    width: 40%;
}

.request {
    color: #6c757d;
    height: 60%;
    width: 60%;
}

.colored-tag {
    background-color: #28a745;
    color: #fff;
    padding: 2px 5px;
    border-radius: 3px;
    margin-right: 5px;
    font-size: 10px;
    margin-bottom: 0;
}

.brown {
    background-color: brown;
    color: white;
}

.blue {
    background-color: darkcyan;
    color: white;
}

.purple {
    background-color: purple;
    color: white;
}


.additional-info p {
    margin: 5px 0;
    font-size: 12px;
    color: #6c757d;
}

.row {
    margin-bottom: 5px;
}

.description {
    white-space: nowrap;
    /* Prevent line breaks */
    overflow: hidden;
    /* Hide overflowing content */
    text-overflow: ellipsis;
    /* Display ellipsis for overflow */
    margin-top: 10px;
    margin-bottom: 5px;
}