/* Profile page styles */
.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  /* User card styles */
  .user-card {
    display: flex;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
.user-info {
  padding: 10px;
}

  .user-card img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  /* Tab styles */
  .tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .tabs button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    cursor: pointer;
    background-color: #eee;
    border-radius: 5px;
  }
  
  .tabs button.active {
    background-color: #ccc;
  }
  
  /* Content section styles */
  .content {
    display: flex;
  }
  
  .menu {
    flex: 1;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    /* margin-right: 20px; */
  }
  
  .body-content {
    flex: 3;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
  }
  