/* Styles for the inventory page */
.inventory-page {
  padding: 30px 200px 0px; /* Adjust the padding as needed */
}

.filters {
  padding-top: 40px;
}

/* CSS for the search input and icons */
.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}

.search-wrapper {
  position: relative;
  width: 100%;
}

.search-input {
  padding: 8px 30px 8px 40px; /* Adjust the padding to fit the icons */
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  color: #333;
  outline: none;
  transition: border-color 0.3s ease-in-out;
  width: 100%; /* Fill the available width */
}

.search-icon,
.barcode-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px;
}

.search-icon {
  left: 10px;
}

.barcode-icon {
  right: 200px;
}

/* Styles for inventory cards */
.inventory-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.inventory-card {
  display: flex;
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.card-details {
  display: flex;
  align-items: center;
  flex: 1;
}

.card-details > div {
  flex: 1;
}

.card-id,
.card-classid {
  font-size: 12px;
  color: #666;
}

.card-name {
  font-size: 16px;
  margin-bottom: 5px;
}

.card-image {
  width: 100px; /* Adjust the width as needed */
  height: auto;
  margin-left: 20px; /* Adjust the margin for spacing */
}
