/* Sidebar styles */

/* Main styles for the Sidebar */
.Sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 60px;
  left: 0;
  width: 200px;
  background: rgba(144, 21, 21, 1);
  transition: width 0.3s ease; /* Add a transition for smoother animation */
  position: fixed;
  z-index: 0;
  height: 100vh;
}

/* Hide button labels when Sidebar is not collapsed */
.Sidebar:not(.collapsed) .button-label {
  display: none;
}

/* Styles for labels when Sidebar is not collapsed */
.Sidebar:not(.collapsed) .label {
  font-size: 18px; 
  vertical-align: middle; /* Align the label vertically with the icon */
  color: whitesmoke;
  margin: 20px;
  transition: opacity 0.3s ease, transform 0.3s ease; /* Transition for opacity and position */
}

/* Styles for the collapsed Sidebar */
.Sidebar.collapsed {
  width: 60px; /* Adjust the width to your preference */
}

/* Hide labels when Sidebar is collapsed */
.Sidebar.collapsed .label {
  display: none;
}

/* Styles for icon buttons */
.icon-button {
  align-items: center;
  width: 100%;
  height: 60px;
  font-size: 24px; /* Adjust the font size for the button */
  background-color: transparent; /* Make the button background transparent */
  border: none; /* Remove button border if needed */
  cursor: pointer;
  vertical-align: middle;
}

/* Styles for collapsed Sidebar's button labels */
.Sidebar.collapsed .button-label {
  font-size: 12px;
  color: white;
  text-decoration: none;
}

/* Styles for active buttons */
.active-button {
  background-color: white;
  color: black; /* Change text color as needed */
}

/* Styles for active button icons */
.active-button .icon {
  color: rgba(144, 21, 21, 1); /* Red color for icon */
}

/* Styles for active button labels */
.active-button .small-label {
  color: rgba(144, 21, 21, 1); /* Red color for label */
}

/* Styles for icons */
.icon {
  font-size: 15px; /* Adjust the icon size */
  color: whitesmoke;
  padding-bottom: 3px;
}

/* Styles for labels */
.label {
  font-size: 18px; /* Adjust the label font size */
  vertical-align: middle; /* Align the label vertically with the icon */
  color: whitesmoke;
  margin: 20px;
  transition: opacity 0.3s ease, transform 0.3s ease; /* Transition for opacity and position */
}

/* Media query for medium-sized screens */
@media (max-width: 768px) {
  .App {
    flex-direction: column; /* Change to a column layout for smaller screens */
  }

  .Sidebar {
    width: 35px;
  }

  /* Hide labels when Sidebar is collapsed on medium-sized screens */
  .Sidebar.collapsed .label {
    display: none;
  }
}

/* Media query for smaller screens */
@media (max-width: 480px) {
  .Sidebar {
    width: 35px;
  }

  /* Hide labels when Sidebar is collapsed on smaller screens */
  .Sidebar.collapsed .label {
    display: none;
  }

  /* Adjust padding for the Main section on smaller screens */
  .Main {
    padding: 10px 10px 0px 10px; /* Adjust padding for smaller screens */
  }
}
