/* ItemForm.css */

/* General styling for the form wrapper */
.item-form-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 100; /* Ensure the form is on top of other content */
  pointer-events: none; /* Prevent clicking on content when form is hidden */
}

/* Semi-transparent overlay */
.overlay {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the transparency as needed */
  z-index: 99; /* Ensure the overlay is behind the form but on top of other content */
}

/* Styling for the modal form */
.modal {
  display: block;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 60px;
  width: 100%;
  height: 91%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  overflow: auto;
}

/* Styling for the visible overlay */
.overlay-visible {
  pointer-events: auto; /* Allow clicking on the overlay */
}

/* Styling for the main form */
.item-form {
  width: 300px; /* Adjust width as needed */
  height: 100vh;
  background-color: white;
  transform: translateX(-100%); /* Initially off-screen */
  transition: transform 0.3s ease-in-out; /* Transition for smooth sliding */
  z-index: 101;
  pointer-events: auto; /* Allow clicking on form when visible */
}

/* Slide-in animation for the form */
.item-form.slide-in {
  transform: translateX(0); /* Slide in from the left */
}

/* Styling for the modal content */
.modal-content {
  background-color: #fefefe;
  padding: 20px;
  top: 65px;
  height: 90vh;
  border-radius: 5px;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  overflow-y: auto;
}

/* Styling for a card element */
.inventory-card {
  border-radius: 8px;
  margin: 20px 0px 20px 0px;
  box-sizing: border-box;
  padding: 10px 10px 10px 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

/* Styling for the search page */
.search-page {
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-left: 60px;
  padding-right: 60px;
}

.search-bar-new-item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Styling for the search bar */
.search-bar {
  display: flex;
  align-items: center;
}

/* Styling for the filter dropdown in the search bar */
.search-bar select {
  order: -1; /* Place this element first */
  margin-right: 10px; /* Adjust margin as needed */
}

/* Styling for the input field in the search bar */
.search-bar input[type="text"] {
  padding: 8px 30px 8px 20px; /* Adjust the padding to fit the icons */
  border: 1px solid #ccc;
  border-radius: 10px 0px 0px 10px;
  font-size: 14px;
  color: #333;
  outline: none;
  transition: border-color 0.3s ease-in-out;
  margin-left: 0;
}

/* Styling for the search button */
.search-bar button {
  padding: 10px 10px 9px 9px;
  background-color: rgba(144, 21, 21, 0.8); /* Example color */
  color: white;
  border: none;
  border-radius: 0px 10px 10px 0px;
  cursor: pointer;
}

.inventorybtn {
  background-color: rgba(144, 21, 21, 0.8);
  color: white;
  padding: 10px 9px;
  font-size: 14px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

/* Styling for the assets table and its elements */
.assets-table {
  flex: 1;
  margin-top: 20px;
  height: 500px;
  width: 100%;
  align-items: center;
}

/* Styling for the table in the assets table */
.assets-table table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
}

/* Styling for table headers in the assets table */
.assets-table th {
  background-color: white;
  font-weight: bold;
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;
  border-radius: 10px;
}

/* Styling for table cells in the assets table */
.assets-table td {
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
  border-radius: 10px;
  text-align: center;
}

/* Styling for table rows on hover in the assets table */
.assets-table tbody tr:hover {
  background-color: #f0f0f0;
  border-radius: 10px;
  cursor: pointer;
}

/* Styling for a top-right element */
.top-right {
  margin: 10px;
}
