/* app.css */
body {
  margin: 0;
  padding: 0;
  display: flex;
  height: 100%;
}

#root {
  display: flex;
  flex: 1;
  width: 100%;
}

.Layout {
  display: flex;
  /* height: 100vh;  */
  width: 100%;
}

/* Sidebar styles */
.Sidebar {
  top: 60px;
  left: 0;
  width: 200px; 
  background: rgba(144, 21, 21, 1); 
  padding: 10px 10px 0px 10px;
  transition: width 0.3s ease; /* Add a transition for smoother animation */
  position: fixed;
  z-index: 0;
  height: 100vh;
  align-items: center;
} 

.Content {
  flex: 1; /* This will make the Content div take up the remaining horizontal space */
  display: flex;
  flex-direction: column;
}

/* Adjust the sidebar width for a collapsed sidebar */
.Sidebar.collapsed {
  width: 35px; /* Adjust the width to your preference */
}

/* Hide labels when the sidebar is collapsed */
.Sidebar.collapsed .label {
  display: none;
}

ul {
  list-style-position: inside;
  padding-left: 0;
}

/* Main content styles */
.Main {
  margin-top: 60px; /* Height of the header */
  margin-left: 55px; /* Width of the sidebar */
  flex: 1;
 /* min-height: 100vh;
  height: 100%; */
  width: calc(100% - 250px);
  /* Take remaining height after considering the header */
  height: calc(100vh - 80px);
  display: flex;
  width: 100%;
  padding: 0px 20px 0px 20px;
  flex-direction: column;
  background: white; /* Set the background color #f8f8f8*/
  transition: margin-left 0.3s; /* Remove this line */
}

/* Add your CSS styles for the profile section */
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-picture img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-name {
  margin-top: 10px;
  font-weight: bold;
}

.icon-button {
  font-size: 24px; /* Adjust the font size for the button */
  text-align: left; /* Align the text to the left within the button */
  background-color: transparent; /* Make the button background transparent */
  border: none; /* Remove button border if needed */
  margin-bottom: 15px;
  padding: 10px;
  cursor: pointer;
}

.icon {
  font-size: 15px; /* Adjust the icon size */
  margin-right: 20px; /* Add margin between the icon and label */
  color: whitesmoke;
}

.label {
  font-size: 18px; /* Adjust the label font size */
  vertical-align: middle; /* Align the label vertically with the icon */
  color: whitesmoke;
  /* opacity: 0; Initially hide labels */
  transition: opacity 0.3s ease, transform 0.3s ease; /* Transition for opacity and position */
}

.breadcrumb a {
  text-decoration: none; /* Remove underlines */
  color: #007bff; /* Change link color to blue */
}

.breadcrumb a:hover {
  text-decoration: underline; /* Add underline on hover */
}

/* Main content styles */
.w-64 {
  width: 250px;
  /* padding: 10px; */
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.main-header {
  position: fixed;
  top: 0;
  width: 100%;
  /*left: 55px;  Adjust this based on your sidebar width */
  /*width: calc(100% - 55px);  Adjust to fit the remaining width */
  height: 60px; /* Adjust height as needed */
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional shadow */

  /* Flexbox for centering the logo */
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.logo-container {
  margin-left: 20px; /* Adjust margin as needed */
}

.logo {
  height: 40px; /* Adjust the height of the logo */
  width: auto; /* Adjust the width to maintain aspect ratio */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Styles for medium-sized screens */
@media (max-width: 768px) {
  .App {
    flex-direction: column; /* Change to a column layout for smaller screens */
  } 

  .Sidebar {
    width: 35px; 
  } 

  .Sidebar.collapsed .label {
    display: none;
  }   
}

/* Styles for smaller screens */
@media (max-width: 480px) {

  .Sidebar {
    width: 35px; 
  } 

  .Sidebar.collapsed .label {
    display: none;
  }  

  .Main {
    padding: 10px 10px 0px 10px; /* Adjust padding for smaller screens */
  }
}