/* app.css */
body {
  margin: 0;
  padding: 0;
  display: flex;
  height: 100%;
}

#root {
  display: flex;
  flex: 1;
  width: 100%;
}

.Layout {
  display: flex;
  /* height: 100vh;  */
  width: 100%;
}

/* Sidebar styles */
.Content {
  flex: 1; /* This will make the Content div take up the remaining horizontal space */
  display: flex;
  flex-direction: column;
}

ul {
  list-style-position: inside;
  padding-left: 0;
}

/* Main content styles */
.Main {
  margin-top: 60px; /* Height of the header */
  margin-left: 60px; /* Width of the sidebar */
  flex: 1;
  height: 100vh;
  width: calc(100% - 250px);
  display: flex;
  width: 100%;
  flex-direction: column;
  /* background: white; */
  background: rgba(245, 244, 244, 0.547); 
  /* background: rgba(242, 242, 242, 0.547);  */
  transition: margin-left 0.3s; /* Remove this line */
}

/* Add your CSS styles for the profile section */
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-picture img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-name {
  margin-top: 10px;
  font-weight: bold;
}

.breadcrumb a {
  text-decoration: none; /* Remove underlines */
  color: #007bff; /* Change link color to blue */
}

.breadcrumb a:hover {
  text-decoration: underline; /* Add underline on hover */
}

/* Main content styles */
.w-64 {
  width: 250px;
  /* padding: 10px; */
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.main-header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px; /* Adjust height as needed */
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional shadow */

  /* Flexbox for centering the logo */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  z-index: 100;
}

.logo-container {
  margin-left: 20px; /* Adjust margin as needed */
}

.logo {
  height: 40px; /* Adjust the height of the logo */
  width: auto; /* Adjust the width to maintain aspect ratio */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Styles for medium-sized screens */
@media (max-width: 768px) {
  .App {
    flex-direction: column; /* Change to a column layout for smaller screens */
  }

  .Sidebar {
    width: 35px;
  }

  .Sidebar.collapsed .label {
    display: none;
  }
}

/* Styles for smaller screens */
@media (max-width: 480px) {
  .Sidebar {
    width: 35px;
  }

  .Sidebar.collapsed .label {
    display: none;
  }

  .Main {
    padding: 10px 10px 0px 10px; /* Adjust padding for smaller screens */
  }
}
