/* Admin.css */
/* admin.css */

.general-admin {
  position: relative;
  top: 50px;
  margin: 25px;
}

.cis-admin {
  position: relative;
  top: 50px;
  margin: 25px;
}

.cwm-admin {
  position: relative;
  top: 50px;
  margin: 25px;
}

.elog-admin {
  position: relative;
  top: 50px;
  margin: 25px;
}

.create-class-btn {
  width: 100px;
}

/* Styles for the dropdown */
.admin-dropdown {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  padding: 8px 0; /* Add some padding */
  z-index: 1;
  border-radius: 4px; /* Add rounded corners */
  top: 105px; /* Adjust vertical position to align with the button */
  right: 20px; /* Adjust horizontal position */
}

/* Position the dropdown options */
.admin-dropdown button {
  display: block;
  width: 100%;
  padding: 10px;
  text-align: left;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Add transition effect */
}

/* Change background color on hover */
.admin-dropdown button:hover {
  background-color: #f2f2f2;
}

/* Show the dropdown on hover */
.dropdown:hover .admin-dropdown {
  display: block;
}

/* Style the dropdown button */
.admin-dropbtn {
  background-color: #007bff; /* Blue background color */
  color: #ffffff; /* White text color */
  padding: 10px 20px; /* Add some padding */
  font-size: 16px; /* Increase font size */
  border: none; /* Remove border */
  cursor: pointer;
  border-radius: 4px; /* Add rounded corners */
  transition: background-color 0.3s ease; /* Add transition effect */
  position: absolute;
  top: 70px; /* Adjust vertical position */
  right: 20px; /* Adjust horizontal position */
}

/* Change background color on hover */
.admin-dropbtn:hover {
  background-color: #0056b3; /* Darker blue color on hover */
}

/* Styles for the welcome message */
.welcome-message {
  font-size: 20px;
  color: #555555;
  margin-top: 20px;
  margin-left: 20px;;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
}

.create-class-btn {
  margin-top: 20px;
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.create-class-btn span {
  margin-left: 10px;
}

.form-content {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  /* height: 70%;
  overflow-y: auto; */
}
.class-form {
  margin-top: 20px;
  height: 70%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto; 
}

.class-item {
  border: black;
}

.with-description {
  margin-bottom: 16px;
}

.attribute-description {
  font-style: italic;
  color: #888;
}

.modal {
  display: block;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 60px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  overflow: auto;
}

.modal-inventory {
  display: block;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 67px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  overflow: auto;
}

.elementForm-content {
  background-color: #fefefe;
  /* margin-top: 200px; */
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  border-radius: 5px;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  height: 70%;
  overflow-y: auto;
}

.close {
  color: #aaa;
  padding: 20px;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.class-form label {
  display: block;
  margin-bottom: 5px;
  font-size: 12px;
  color: grey;
}

.class-form input[type="text"],
.class-form input[type="checkbox"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #777777;
  border-radius: 4px;
  box-sizing: border-box;
}

.class-form input[type="checkbox"] {
  width: auto;
}

.class-form button[type="button"],
.class-form input[type="submit"] {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.class-form button[type="button"]:hover,
.class-form input[type="submit"]:hover {
  background-color: #0056b3;
}

/* Card container styles */
.card-container {
  display: flex;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: flex-start;
}

/* Card content styles */
.card-content {
  padding: 20px;
  display: flex; /* Added */
  flex-direction: column;
  justify-content: space-between; /* Added */
  align-items: center; /* Added */
  height: 80%; /* Updated */
  text-align: left;
}

.admin-page {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
}

.new-class-button {
  margin-left: 34px;
}

/* Generic card styles */
.admin-card {
  margin: 10px;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative; /* Added */
  display: flex; /* Added */
  flex-direction: column;
}

.card-icon {
  display: flex; /* Added */
  justify-content: right; /* Added */
  align-items: right; /* Added */
  flex-grow: 1; /* Added */
  font-size: 80px; /* Adjust as needed */
  color: #333; /* Adjust color as needed */
}

/* Card action styles */
.card-action {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 10px;
  height: 40px;
  background-color: lightsteelblue;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  cursor: pointer;
}

/* Plus sign styles */
.card-add {
  font-size: 24px;
  margin-right: 10px;
}

/* Styles for the dropdown button */
.dropbtn {
  background-color: #007bff;
  /* background-color: #3498db; */
  color: white;
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.dropbtn:hover {
  display: block;
  visibility: visible;
}

/* Styles for the dropdown content (hidden by default) */
.dropdown-content .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

/* Styles for dropdown items */
.dropdown-content button {
  background-color: #f9f9f9;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  width: 20%;
  border: none;
  text-align: left;
  cursor: pointer;
}

.card-display {
  margin: 10px;
}

.categories-display {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

/* Change color of dropdown items on hover */
.dropdown-content button:hover {
  background-color: #f1f1f1;
}

.top-right {
  margin-left: 30px; /* Adjust as needed */
  margin-bottom: 20px;
}

.table-elements {
  display: flex;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  /* align-items: center; */
}

.admin-page {
  display: flex;
  margin: 0 auto; /* Center the element */
  width: 95%;
}

.admin-page > div {
  flex: 1;
  max-height: 500px; /* Set a maximum height for the container */
}

.class-table {
  border-collapse: separate;
  border-spacing: 0;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  height: 200px;
  table-layout: fixed;
  overflow: auto;
  overflow-x: auto;
}

.class-table th,
.class-table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
  padding: 15px;
  /* text-align: center; */
  width: 10%; /* Set a specific width for each column */
}

.class-table th {
  background-color: #f2f2f2;
  border-bottom: 1px solid #ddd;
}

.class-table tr {
  text-align: left;
  margin-left: 15px;
}

.class-table td {
  border-bottom: 1px solid #ddd;
  height: 50px;
}

.class-table tr:last-child td {
  border-bottom: none;
}

.class-table tr:hover {
  background-color: #f5f5f5;
}

.cwm-admin {
  margin: 25px;
}

/* LocationForm.css */

/* Style for dropdown menu */
.class-form select {
  width: calc(100% - 20px); /* Adjust width to match other input fields */
  padding: 8px; /* Adjust padding as needed */
  margin-bottom: 10px; /* Add margin bottom for spacing */
}

/* Style for input fields */
.class-form input[type="text"] {
  width: calc(100% - 20px); /* Adjust width to match dropdown */
  padding: 8px; /* Match padding with dropdown */
  margin-bottom: 10px; /* Add margin bottom for spacing */
}


/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .admin-page {
    flex-direction: column; /* Stack items vertically */
  }

  .admin-page > div {
    margin-right: 0; /* No margin between tables on small screens */
    max-height: none; /* Remove max-height on small screens */
  }

  .class-table th,
  .class-table td {
    width: 100%; /* Set full width for columns on small screens */
  }

  .class-table {
    margin: 5px; /* Adjust margin for smaller screens */
  }
}
